@use "../colors" as *;
@use "../mixins" as *;
@use "../reset" as *;
@use "../sizes" as *;

@media (min-width: 768px) {
  .container {
    max-width: 1200px;
    padding: 0 1em;
  }

  .nav {
    &__body {
      padding: 0.3em;
      justify-content: space-between;
    }

    &__logo {
      display: block;
      font-size: 4rem;
      color: $white;
      font-family: "Arizonia", cursive;
    }

    &__button {
      display: none;
    }

    &__links {
      flex-direction: row;
      gap: 0.5em;
      position: relative;
      left: unset;
      top: unset;
      width: unset;
      height: unset;
      padding: 1em 0;
      opacity: 1;
      transform: translateY(0);
      background-color: unset;
    }

    &__link {
      position: relative;
      padding: 0.3em 0.5em;
      color: $white;
      transition: color 0.3s ease;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $main;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  .header {
    height: 70vh;
    background: url("/img/bg-large.webp") rgba(0, 0, 0, 0.1);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
  }

  .footer {
    &__content {
      flex-direction: row;
      justify-content: space-between;
    }

    &__icon {
      transition: color 0.3s ease;

      &:hover {
        color: #f0eded;
      }
    }
  }
}
