@use "colors" as *;
@use "mixins" as *;
@use "reset" as *;
@use "sizes" as *;

@media (min-width: 500px) {
  .nav {
    &__links {
      height: 60vh;
    }
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1200px;
    padding: 0 1em;
  }

  .nav {
    &__body {
      justify-content: space-between;
      padding: 0.3em;
    }

    &__logo {
      display: block;
      font-size: 4rem;
      color: $white;
      font-family: "Arizonia", cursive;
    }

    &__button {
      display: none;
    }

    &__links {
      flex-direction: row;
      gap: 0.5em;
      position: relative;
      left: unset;
      top: unset;
      width: unset;
      height: unset;
      padding: 1em 0;
      opacity: 1;
      transform: translateY(0);
      background-color: unset;
    }

    &__link {
      position: relative;
      padding: 0.3em 0.5em;
      color: $white;
      transition: color 0.3s ease;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        background-color: $main;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
    &__link-blog {
      &:before {
        content: "";
        width: 2px;
        left: 0;
        background-color: $main;
        position: absolute;
        height: 25px;
      }
    }
  }

  .header {
    background: url("../assets/img/backgroundBlackAndWhite.webp")
      rgba(16, 16, 16, 0.8);
    background-blend-mode: darken;
    background-size: cover;
    background-position: top;
    &__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.3em;
      color: $white;
    }

    &__text,
    &__content {
      font-size: 3rem;
    }

    &__heading {
      font-size: 5rem;
    }

    &__write {
      color: $main;
      font-weight: 600;
      font-size: 3rem;
    }
  }

  .about {
    &__heading,
    &__icons,
    &__cv,
    .line {
      @include fromdown(150px);
    }

    &__content {
      @include fromdown(150px);
      display: flex;
      flex-direction: row;
      max-width: 1200px;
    }

    &__center {
      width: 30%;
    }

    &__img {
      width: 100%;
      height: 500px;
      max-width: 450px;
      border-radius: unset;
    }

    &__body {
      width: 70%;
      max-width: 550px;
    }

    &__name {
      flex-direction: row;
      justify-content: space-between;
    }

    &__message {
      margin-top: 0.1em;
      margin-bottom: -0.6em;
    }

    &__wrap {
      display: flex;
      align-items: center;
      gap: 7em;
    }

    &__btn {
      transition: background-color 0.3s ease;
      &:hover {
        background-color: $hover;
      }
    }

    &__icon {
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(0.9);
      }
    }
  }

  .portfolio {
    padding: 5em 0 8em;

    &__heading,
    .line {
      @include fromdown(150px);
    }
    &__title-icon {
      transition: color 0.3s ease;
    }

    &__box {
      @include fromdown(150px);

      &:hover .portfolio__shadow {
        height: 100%;
      }

      &:hover .portfolio__title-icon {
        color: #ddd;
      }
    }

    &__body {
      gap: 7em;
    }

    &__shadow {
      height: 30%;
      transition: height 0.3s ease;
    }

    &__link {
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(0.9);
      }
    }
  }

  .contact {
    &__heading,
    .line,
    .info {
      @include fromdown(150px);
    }

    @include flexCenter(column);
    &__wrapper {
      display: flex;
      justify-content: center;
      gap: 2em;
      max-width: 1000px;
      margin-top: 4em;
    }

    &__form {
      @include fromdown(150px);
      width: 70%;
    }

    &__form-top {
      display: flex;
      gap: 1em;
    }

    &__form-btn {
      transition: background-color 0.3s ease;
      &:hover {
        background-color: $hover;
      }
    }
  }

  .info {
    width: 30%;
  }

  .footer {
    &__content {
      flex-direction: row;
      justify-content: space-between;
    }

    &__icon {
      transition: 0.3s ease;

      &:hover {
        color: #f0eded;
      }
    }
  }
}
