*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
}

html {
  scroll-padding-top: 20px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.container {
  max-width: 95%;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.5em;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: background-color 0.4s ease;
}
.nav__bgc {
  background-color: #111;
}
.nav__body {
  display: flex;
}
.nav__logo {
  display: none;
}
.nav__img {
  margin-top: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.nav__button {
  padding: 0.5em;
  width: 51px;
  height: 56px;
  cursor: pointer;
  z-index: 9999;
}
.nav__hide {
  display: none;
}
.nav__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100vh;
  top: 0;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  background-color: #101311;
  transform: translateY(-105%);
  transition: all 0.3s ease;
}
.nav__links--active {
  transform: translateY(0);
}
.nav__link {
  padding: 0.5em;
  color: #f0f0f0;
}

.header {
  height: 100vh;
  width: 100%;
  background: url("../assets/img/Backgrounds/backgroundStudies.webp")
    rgba(16, 16, 16, 0.3);
  background-blend-mode: darken;
  background-size: cover;
  background-position: top;
}
.header__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3em;
  height: 100%;
  color: #f0f0f0;
}
.header__text,
.header__content {
  font-size: 2.4rem;
  text-align: center;
}

.header__heading {
  font-size: 4.4rem;
  text-align: center;
}
.header__write {
  color: #ba00e9;
  font-weight: 600;
  font-size: 2.2rem;
}
.info__heading {
  margin-bottom: 0.5em;
  font-size: 2.4rem;
}
.info__text {
  margin-bottom: 2.8em;
  font-size: 1.4rem;
  color: #9f9f9f;
}
.info__content {
  display: flex;
  gap: 2em;
  position: relative;
}
.info__icons,
.info__items {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 2.4rem;
}
.info__icons {
  color: #ba00e9;
}
.info__items {
  font-size: 1.6rem;
}
.info__item {
  font-weight: 600;
}
.info__item-name {
  font-weight: 400;
  color: #9f9f9f;
  font-size: 1.4rem;
}
.info__icons::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 1.5em;
  background-color: #9f9f9f;
}

.about__message,
.info__message {
  display: none;
  margin-left: 4.7em;
  font-size: 1.2rem;
  color: #ba00e9;
}

.about__message {
  margin-bottom: 1em;
  margin-top: -1em;
}

:root {
  --color: #161616;
}

.container1 {
  text-align: center;
  color: var(--color);
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/img/Studies/university1.png);
  background-size: cover;
  background-position: center;

  /*  this is where the magic happens:  */
  background-attachment: fixed;
}

.card p {
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
}

.card a {
  display: inline-block;
  padding: 1em 3.5em;
  background-color: var(--color);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 0.875rem;
}

.blank,
.other {
  width: 100%;
  min-height: 60vh;
  background-color: var(--color);
}
.blank {
  padding: 2em;
  display: flex;
  justify-content: center;
  gap: 1.5em;
  align-items: center;
}

.blank .card a {
  margin-bottom: 2em;
}

.blank .item {
  display: flex;
  max-width: 320px;
  background-color: white;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
}
.second {
  background-image: url(../assets/img/Studies/university2.png);
  background-attachment: fixed;
}

.blank h3 {
  text-align: center;
}
.blank p {
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
  text-align: center;
}
.blank .card {
  text-align: center;
}
h3 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 1em;
}

.card a {
  margin-bottom: 2em;
}

.item {
  display: flex;
  max-width: 320px;
  background-color: white;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
}

.img {
  width: 90%;
  height: 200px;
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  border-radius: 0.3em;
}

.img-first {
  background-image: url(../assets/img/Studies/C.png);
}

.img-second {
  background-image: url(../assets/img/Studies/C++.png);
}

.img-third {
  background-image: url(../assets/img/Studies/csharp.png);
}

.img-fourth {
  background-image: url(../assets/img/Studies/html.png);
}

.img-fifth {
  background-image: url(../assets/img/Studies/css.png);
}

.img-sixth {
  background-image: url(../assets/img/Studies/javascript.png);
}

.img-seventh {
  background-image: url(../assets/img/Studies/python.png);
}

.img-eighth {
  background-image: url(../assets/img/Studies/java.png);
}

.img-ninth {
  background-image: url(../assets/img/Studies/php.png);
}

.second {
  flex-direction: row;
  gap: 1.6em;
}

.container1 .studies__heading {
  margin-bottom: 0.3em;
  font-size: 3.8rem;
  text-align: center;
  color: #ba00e9;
}

.photo-gallery h2 {
  font-weight: bold;
  padding-top: 40px;
  color: inherit;
  color: #ba00e9;
}
@media (min-width: 810px) {
  .container1 .studies__heading,
  .line {
    transform: translateY(150px);
    opacity: 0;
    transition: opacity 2s, transform 1.5s;
    color: #ba00e9;
  }
}
iframe {
  width: 800px;
  height: 500px;
  border: 1px solid black;
}
.footer {
  background-color: #101311;
  padding: 1.5em 0.5em;
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: #9f9f9f;
  text-align: center;
}
.footer__icons {
  display: flex;
  gap: 0.5em;
  font-size: 1.8rem;
}
.footer__icon {
  color: #9f9f9f;
}

.line {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
.line__green {
  position: relative;
  width: 100px;
  height: 3px;
  background-color: #ba00e9;
  overflow: hidden;
}
.line__black {
  position: absolute;
  height: 7px;
  left: 5px;
  width: 6px;
  background-color: #202020;
  border: 1.5px solid black;
  animation: moving 3s linear infinite;
}
@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
}

@media (max-width: 900px) {
  iframe {
    width: 200px;
    height: 200px;
  }

  .second,
  .blank {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 500px) {
  .nav__links {
    height: 60vh;
  }
}
@media (min-width: 810px) {
  .blank {
    align-items: center;
  }
  .item {
    transform: translateY(150px);
    opacity: 1;
    transition: opacity 2s, transform 1.5s;
  }
  .contact-map {
    transform: translateY(50px);
    opacity: 1;
    transition: opacity 2s, transform 1.5s;
  }

  .item {
    height: 100%;
  }
  .container {
    max-width: 1200px;
    padding: 0 1em;
  }
  .nav__body {
    justify-content: space-between;
    padding: 0.3em;
  }
  .nav__logo {
    font-size: 2rem;
    color: #f0f0f0;
    font-family: "Arizonia", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav__button {
    display: none;
  }
  .nav__links {
    flex-direction: row;
    gap: 0.5em;
    position: relative;
    left: unset;
    top: unset;
    width: unset;
    height: unset;
    padding: 1em 0;
    opacity: 1;
    transform: translateY(0);
    background-color: unset;
  }
  .nav__link {
    position: relative;
    padding: 0.3em 0.5em;
    color: #f0f0f0;
    transition: color 0.3s ease;
  }
  .nav__link:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    background-color: #ba00e9;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .nav__link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .nav__link-blog:before {
    content: "";
    width: 2px;
    left: 0;
    background-color: #ba00e9;
    position: absolute;
    height: 25px;
  }
  .header {
    background: url("../assets/img/Backgrounds/backgroundStudies.webp")
      rgba(16, 16, 16, 0.3);
    background-blend-mode: darken;
    background-size: cover;
    background-position: top;
  }
  .header__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3em;
    color: #f0f0f0;
  }
  .header__text,
  .header__content {
    font-size: 3rem;
    text-align: center;
  }
  .header__heading {
    font-size: 5rem;
    text-align: center;
  }
  .header__write {
    color: #ba00e9;
    font-weight: 600;
    font-size: 3rem;
  }
  .info {
    width: 30%;
  }
  .footer__content {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__icon {
    transition: 0.3s ease;
  }
  .footer__icon:hover {
    color: #f0eded;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
}

@media (min-width: 1024px) {
  html {
    scroll-padding-top: unset;
  }
}
@media (min-width: 1200px) {
  .header__text,
  .header__content {
    font-size: 4rem;
    text-align: center;
  }
  .header__heading {
    font-size: 6rem;
    text-align: center;
  }
  .header__write {
    font-size: 4rem;
  }
} /*# sourceMappingURL=main.css.map */
